[package]
name = "peeringdb-mirror"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
worker = { version = "0.7.2", features = ["d1"] }
wasm-bindgen = "0.2.106"
